{% extends 'base.html.twig' %}

{% block title %}Create Post{% endblock %}

{% block body %}

<div class="columns">
    <div class="column">
        <div class="section">
            <div class="container">

                {{ form_start(form) }}
                    {{ form_errors(form) }}

                    <div class="field is-grouped ">

                        <div class="field-body">
                            <div class="field">
                            {{ form_label(form.title) }}
                            {{ form_widget(form.title, {'attr': {'class': 'control is-expanded input is-primary'}}) }}
                            {{ form_errors(form.title) }}
                            </div>

                            <div class="field">
                            {{ form_label(form.published_date) }}
                            {{ form_widget(form.published_date, {'attr': {'class': 'control input  is-primary'}}) }}
                            {{ form_errors(form.published_date) }}
                            </div>
                        </div>

                    </div>

                    {{ form_row(form.content) }}

                    {{ form_row(form.save, { 'label': 'Save', 'attr': {'class': 'control button is-primary'} }) }}
                
                {{ form_end(form) }}

            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
<link rel="stylesheet" href="/simplemde/simplemde.min.css">
<script src="/simplemde/simplemde.min.js"></script>

<!-- Start simple MDE -->
<script>
    var simplemde = new SimpleMDE({ 
        element: document.getElementById("post_content"),
        forceSync: true 
    });
</script>

{% endblock %}